<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is the personal website of Dominic Samphier, a software developer and designer based in Jersey, Channel Islands. Here you can find my blog posts, projects, and contact information.">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#3813f4">

    <meta property="og:title" content="Dominic Samphier">
    <meta property="og:description" content="Software developer based in Jersey, Channel Islands.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://domsamphier.com">
    <meta property="og:image" content="https://domsamphier.com/dominicsamphier.jpeg">

    <title>Dominic Samphier</title>
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
